body {
  margin: 0;
  padding: 0;
  background-color: #7952b3;
  height: auto;
}

#login {
  background: #e4d9d9;
  max-width: 600px;
  height: auto;
  margin-top: 170px;
  margin-left: 30%;
  padding: 20px;
  border: 10px double #28a745;
  border-radius: 20px;
}

#login h3 {
  color: #7952b3 !important;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

label.text-info {
  color: #7952b3 !important;
  font-size: 20px;
  margin-left: -40px;
}

input[type=text] {
  width: 300px;
  margin-left: -40px;
}

input[type=password] {
  width: 300px;
  margin-left: -40px;
}

button[type=submit] {
  background: #7952b3;
  border: none;
  margin-right: -50px;
}

button[type=submit]:hover {
  background: #7e3de0;
}

button[type=submit]:active {
  background: #7e3de0 !important;
}

input[type=checkbox] {
  margin-left: -40px;
  margin-top: 10px;
}

.warnText {
  display: none;
  width: 300px;
  margin-left: -5px;
}